bootstrap.servers=splexkafka.servicebus.windows.net:9093
security.protocol=SASL_SSL
sasl.mechanism=PLAIN
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="$ConnectionString" password="Endpoint=sb://splexkafka.servicebus.windows.net/;SharedAccessKeyName=test;SharedAccessKey=/5X0bAP/dW4ZBqQ2uINIGn70MT2bZt6kvq2VQrJUj6U=;EntityPath=splex101";
